body{
    background-image: url(/eletricista/img/electric-gif-13.gif);
    background-size: 80pc;
}
img{
    border-radius: 50px;
    
}
h1{
    font-size: xx-large;
    font-size: 4pc;
}
#card-box{
    
    background-color: rgb(226, 226, 24);
    border-radius: 5em;
    border-style: dashed;
    border-color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: auto;
    animation: colorup 5s infinite 2s;    
    animation: bordeup 1s infinite 2s;
}
#contact{
    display: table;
    font-family:s ssans-serif;
    margin: 1em auto;
    color: #fff;
    font-size: 2em;
    padding: 1em 2em 1em 3.5em;
    border-radius: 5em;
    font-weight: bold;
}
@keyframes colorup {
    from {border-color: #a32630;}
    to {border-color: #212420;}
}

@keyframes bordeup {
    from {border-style: groove;}
    to {border-style: hidden;}
    
}