#card-box{
    
    background-color: rgb(226, 226, 24);
    border-radius: 5%;
    border-style: dashed;
    border-color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: auto;
    animation: colorup 5s infinite 2s;    
}
#contact{
    display: table;
    font-family: sans-serif;
    text-decoration: none;
    margin: 1em auto;
    color: #fff;
    font-size: 0.9em;
    padding: 1em 2em 1em 3.5em;
    border-radius: 2em;
    font-weight: bold;
    background: #25d366 no-repeat 1em center;
    background-size: 10em;
    image-rendering: 50%;
    height: auto;
    width: auto;
}
card-box:hover{
    border-style: initial;
}
h1{

}

@keyframes colorup {
    from {border-color: #a32630;}
    to {border-color: #212420;}
}

@keyframes go-back {
    from {background-position: 50px;}
    to {background-position: 10px;}
    
}